#ic1{
    width: 80px;
    height: 80px;
    color: black;
}
#ic2{
    width: 80px;
    height: 80px;
    color: black;
}
#ic3{
    width: 80px;
    height: 80px;
    color: black;
}
#ic4{
    width: 80px;
    height: 80px;
    color: black;
}